<header class="header">
  <a href="#home" class="logo"><span>Kevin</span></a>

  <i class="bx bx-menu" id="menu-icon"></i>

  <nav class="navbar">
    <a href="#home" class="active">Home</a>
    <a href="#education">Education</a>
    <a href="#services">Services</a>
    <a href="#projects">Projects</a>
    <a href="#contact">Contact</a>
  </nav>
</header>

<section class="home" id="home">
  <div class="home-content">
    <h1>Hi, It's <span>Kevin</span></h1>
    <h3 class="text-animation">I'm a <span></span></h3>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras quis lacus
      eros. Praesent turpis diam, congue sit amet mollis non, placerat in eros.
      Curabitur leo turpis, condimentum laoreet molestie semper, hendrerit vitae
      mauris. Mauris eu dignissim nisl. In sollicitudin odio quam, vitae cursus
      tellus condimentum vel.
    </p>

    <div class="social-icons">
      <a href=""><i class="bx bxl-linkedin"></i></a>
      <a href=""><i class="bx bxl-github"></i></a>
      <a href=""><i class="bx bxl-instagram-alt"></i></a>
    </div>

    <div class="btn-group">
      <a href="" class="btn">Hire</a>
      <a href="#contact" class="btn">Contact</a>
    </div>
  </div>
  <div class="home-img">
    <img src="assets/images/image-1.jpg" alt="" />
  </div>
</section>
